<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.1.3" targetFramework="net45" />
  <package id="GeoAPI" version="1.7.4" targetFramework="net461" />
  <package id="GeoJSON.Net" version="0.1.38" targetFramework="net461" />
  <package id="GeoJsonAndSqlGeo" version="0.9.6" targetFramework="net461" />
  <package id="Irony" version="0.9.0" targetFramework="net461" />
  <package id="LinqToXsd" version="2.0.2" targetFramework="net45" />
  <package id="Microsoft.SqlServer.Types" version="10.50.1600.1" targetFramework="net461" />
  <package id="NetTopologySuite" version="1.14" targetFramework="net461" />
  <package id="NetTopologySuite.IO.GeoJSON" version="1.14" targetFramework="net461" />
  <package id="NetTopologySuite.IO.SqlServer" version="1.14" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net461" />
</packages>