<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.2.0" targetFramework="net461" />
  <package id="GeoAPI" version="1.7.5" targetFramework="net461" />
  <package id="GeoAPI.CoordinateSystems" version="1.7.5" targetFramework="net461" />
  <package id="GeoAPI.Core" version="1.7.5" targetFramework="net461" />
  <package id="GeoJSON.Net" version="0.1.38" targetFramework="net461" />
  <package id="GeoJsonAndSqlGeo" version="0.9.6" targetFramework="net461" />
  <package id="Irony" version="0.9.0" targetFramework="net461" />
  <package id="LinqToXsd" version="2.0.2" targetFramework="net45" />
  <package id="Microsoft.SqlServer.Types" version="14.0.1016.290" targetFramework="net461" />
  <package id="NetTopologySuite" version="1.15.2" targetFramework="net461" />
  <package id="NetTopologySuite.CoordinateSystems" version="1.15.2" targetFramework="net461" />
  <package id="NetTopologySuite.Core" version="1.15.2" targetFramework="net461" />
  <package id="NetTopologySuite.Features" version="1.15.0" targetFramework="net461" />
  <package id="NetTopologySuite.IO.GeoJSON" version="1.15.4" targetFramework="net461" />
  <package id="NetTopologySuite.IO.SqlServer" version="1.15.1" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="12.0.2" targetFramework="net461" />
</packages>